<h5>Я начала работать со второго курса бакалавриата с 2015 года. На работу меня пригласил предподаватель, так как на его предмете я показала себя внимательной к деталям. После собеседования я получила задание - я должна была на основании отрывка из технического задания и примера составления программы, методики испытаний составить сценарии тестирования для мобильного приложения.</h5>
<h5>После успешно пройденного тестового задания получила работу.</h5>
<h5>Постепенно область моих обязанностей расширялась, я разбиралась в проектах, с которыми приходилось иметь дело, параллельно повышала свои знания.</h5>
<br>
<h5>На данный момент я имею два оконченных с отличием образования:</h5>