<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Резюме</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'mainApp/css/basic.css' %}">
    <link rel="shortcut icon" href="{% static 'mainApp/image/favicon.svg' %}">

  </head>
  <body>

  <header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <ul class="navbar-nav mr-auto">
        {% for h in header %}
        <li class="nav-item">
          {% if page == h.1 %}
          <a class="nav-link active" href="{{h.1}}">{{h.0}}</a>
          {% else %}
          <a class="nav-link" href="{{h.1}}">{{h.0}}</a>
          {%endif%}
        </li>
        {% endfor %}
      </ul>

      <a class="navbar-brand"><font color="white">Никитина Дарья Викторовна</font></a>
  </nav>
  </header>

  <main role="main">
  <div class="jumbotron">
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  </main>

  <footer class="footer">
    <div class="container">
      <hr>
      <span class="text-muted">&copy; Все права защищены {{year}}</span>
    </div>
  </footer>

  </body>
</html>
