{% extends "mainApp/basic.html" %}
{% load staticfiles %}

{% block content %}
<h5>Я начала работать со второго курса бакалавриата с 2015 года. На работу меня пригласил предподаватель, так как на его предмете я показала себя внимательной к деталям. После собесодования я получила задание - я должна была на основании отрывка из технического задания и примера составления программы, методики испытаний составить сценарии тестирования для мобильного приложения.</h5>
<h5>После успешно пройденного тестового задания была взята в штат.</h5>
<h5>Постепенно область моих обязанностей расширялась, я постепенно разбиралась в проектах, с которыми приходилось иметь дело, параллельно повышала свои знания.</h5>
<br>
<b>На данный момент я имею два оконченных с отличием образования:</b>
<ul class="list-group list-group-flush">
        {% for element in object_list%}
            <li class="list-group list-group-flush">
            <div>
                <p><b>Должность: {{element.position}}</b></p>
                <h6>Компания: {{element.company_name}}</h6>
                <h6>Обязанности: {{element.responsibilitie
        {% endfor %}
    </ul>
{% endblock %}