{% extends "mainApp/basic.html" %}
{% load staticfiles %}

{% block content %}
{%include "mainApp/includes/text_experience.html"%}
<ul class="list-group list-group-flush">
        {% for element in object_list%}
            <li class="list-group list-group-flush">
            <div>
                <p><b>Должность: {{element.position}}</b></p>
                <h6>Компания: {{element.company_name}}</h6>
                <h6>Обязанности: {{element.responsibilities}}</h6>
            </div>
        {% endfor %}
    </ul>
{% endblock %}