{% extends "mainApp/basic.html" %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <div class="col-3 offset-1">
       <img class="img-thumbnail" src="{% static 'mainApp/image/my_foto.jpg' %}" alt="Мое фото">
    </div>
    <div class="col-8">
        <h6>Девушка, 23 года, родилась 16 февраля 1996 в городе Нягань.</h6>
        <h6>Сейчас проживаю в городе Тюмень, перезд в другой город не рассматриваю, готова к редким командировкам.</h6>
        <h6>Претендую на должность программиста-разработчика джуниора, так как опыта практической разработки нет (опыт работы указан в разделе <a href="/experience">"Опыт работы"</a>).</h6>
        <h6>Занятость: полная занятость</h6>
        <h6>Я целеустремленная, ответственная, обучаема.</h6>
        <h6><b>Выпускные квалификационные работы</b></h6>
        <ul>
            <li>
                <h6>Выпускная квалификационная работа бакалавриата на тему: "Исследование защищенности Wi-Fi сетей на примере эксплуатации технологии DNS-туннелирования" (<a href="https://library.utmn.ru/dl/VKR_Tyumen/VKR_2017/IMIKN/NikitinaDV_VKR.pdf/en/info">ссылка</a>).</h6>
            </li>
            <li>
                <h6>Выпускная квалификационная работа магистратуры на тему: "Разработка рекомендательной системы для выбора электронного ресурса по краткому описанию" (<a href="https://library.utmn.ru/dl/VKR_Tyumen/VKR_2019/IMiKN/NikitinaDV_2019.pdf/en/info">ссылка</a>).</h6>
            </li>
        </ul>
    </div>
</div>
{% endblock %}